ul {
	list-style-type: square;
	margin: 0;
	padding:0;
  }
  li {
	float: center;
  }
  a {
	display: inline-block;
	padding:0;
	background-color: #FF7708;
}

body {
	background-color:#E9E9EF;
	font-family: Verdana;
}
img {
	border-radius: 50%;
	align-items: center;
  }
  
  h2 {
      color:#FF7708 ;
      font-family:Verdana;
      font-size: 20px;

      text-align: left;
  }

  p {
      color: #A76571;
	font-family:Verdana;
    font-size: 15px;
    text-align: justify;
  }